<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mocha Test Runner</title>
    <!-- bower:css -->
    <!-- endinject -->
</head>
<body>
    <div id="mocha"></div>
    <!-- bower:js -->
    <!-- endinject -->

    <!-- all:js -->
    <!-- endinject -->

    <script type="text/javascript">
        var assert = chai.assert;
    </script>

    <div id="sandbox"></div>

    <script>mocha.setup('bdd')</script>
    <!-- suites:js -->
    <!-- endinject -->
    <script>
        if (window.mochaPhantomJS) {
            mochaPhantomJS.run();
        } else {
            mocha.run();
        }
    </script>
</body>
</html>
